html, body {
  margin: 0;
  padding: 0;
  background: #24292e;

  font-family: sans-serif;
  color: #e5e5e5;
  line-height: 1.2;

  height: 100%;
}

* {
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  overflow: visible;
}

.header-container {
  position: relative;
  width: 100%;
  padding: 0.2em;
}

.header-container.error {
  font-weight: bold;
  background: #d64c4f;
}

footer {
  height: 2em;
  padding: 6px;
  text-align: center;

  background: rgba(255,255,255,0.1);
}

footer span {
  vertical-align: middle;
}

.material-icons.material-inline {
  font-size: 1.1rem;
  line-height: 1;
  vertical-align: bottom;
}

/* turn off number innput arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  position: relative;
  min-height: 100%;

  /* clear the footer */
  margin-bottom: -2em;

  display: flex;
  flex-direction: column;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.center-content {
  text-align: center;
}

.container:after {
  content: '';
  display: block;
  /* clear the footer */
  height: 2em;
}

.contents {
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.85;
  will-change: opacity;
}

a:hover {
  opacity: 1;
}

b {
  font-weight: bold;
  letter-spacing: 0.01rem;
}

.limit {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

video {
  display: none;
  width: 100%;
}

.photo {
  position: relative;
  margin: 6px auto 0px;
  text-align: center;
}

.photo button.delete {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 3rem;
  background: rgba(61, 64, 69, 0.5);
  border: 1px solid rgba(61, 64, 69, 0.5);
  border-radius: 3px 3px 0 0;
  outline: none;
  color: #e5e5e5;
}

img {
  display: block;
  max-width: 100%;
}

.controls {
  margin: 20px auto;
}
.control {
  display: block;
  margin: 10px auto;
}

.controls label {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 0 4px 0;
}

.controls i {
  vertical-align: bottom;
}

.capture {
  outline: none;
  border: none;
  background: #abd64d;
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.compact .capture {
  width: 200px;
  height: auto;
  border-radius: 1rem;
}

.capture i {
  font-size: 5rem;
  color: #24292e;
}
.capture.active i {
  color: #d64c4f;
}

.input {
  margin-top: 20px;
  width: 200px;
}

.input input[type=number],
.input i {
  font-size: 1.6rem;
}

.input input[type=number],
.input button,
.buttons button {
  display: inline-block;
  height: 3rem;
  outline: none;
  border-radius: 3px;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  background: #3d4045;
  border: 1px solid #24292e;
  color: #e5e5e5;
  box-sizing: border-box;
}

.input input[type=number]:focus,
.input input[type=number]:active,
.toggle input[type=radio]:focus:after,
.toggle input[type=radio]:active:after,
button:focus,
button:active {
  border: 1px solid #abd64d;
}

.input input[type=number] {
  width: 110px;
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
}

.input button {
  width: 40px;
}

.toggle-container {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border-radius: 3px;
  overflow: hidden;
}

.toggle-container:after {
  content: "";
  display: table;
  clear: both;
}

.toggle input[type=radio] {
  position: relative;
  float: left;
  display: inline-block;
  width: 4rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #e5e5e5;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.toggle input[type=radio]:after {
  content: attr(value);
  position: absolute;
  background: #3d4045;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #3d4045;
  box-sizing: border-box;
}

.toggle input[type=radio]:checked:after {
  color: #abd64d;
}

.buttons {
  margin-top: 1rem;
  text-align: center;
}

.buttons button {
  width: 3rem;
}
